.about-company {
  max-width: 900px;
}

.about-company h2 {
  margin-top: 0;
  margin-bottom: 21px;

  font-size: 31px;
  line-height: 51px;
  color: #666666;
}

.about-company p {
  font-family: "PT Mono", sans-serif;
  font-size: 16px;
  line-height: 22px;

  color: #666666;
}

.about-company__link {
  display: inline-block;
  padding: 13px 44px;
  margin-top: 25px;
  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #00b2ff;

  border: 1px solid #00b2ff;
  box-sizing: border-box;
  border-radius: 5px;
}

.about-company__link:hover {
  opacity: 0.6;
}

.about-company__link:active {
  opacity: 0.2;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-company {
    max-width: 600px;
    margin-left: -15px;
  }

  .about-company__link {
    margin-top: 7px;
  }

  .about-company h2 {
    font-size: 28px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-company h2 {
    margin-bottom: 16px;
    font-size: 26px;
  }

  .about-company__link {
    margin-left: 8px;
    margin-top: 17px;
  }
}
