.about {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;

  margin: 106px 73px 96px 99px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about {
    padding: 0 30px;
  }

  .about img {
    height: 360px;
    width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about {
    padding: 0 10px;
  }

  .about img {
    display: none;
  }
}
