.about {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;

  margin: 70px 73px 96px 80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about {
    padding: 0;
    margin: 53px 0 84px;
  }

  .about img {
    height: 350px;
    width: 200px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about {
    padding: 10px;
    padding-bottom: 60px;
    margin: 42px 0 0;
  }

  .about img {
    display: none;
  }
}
