.advantages {
  margin: 115px 99px 0;

  background-image: url("../img/triangle-right.svg");
  background-position: 488px 191px;
  background-size: 298px;
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantages {
    margin: 0;
  }
}
