.advantages-about {
  background-image: url("../img/triangle-left.svg");
  background-size: 503px;
  background-repeat: no-repeat;
  background-position: -453px 485px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantages-about {
    background: none;
  }
}
