.advantages-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;

  list-style-type: none;
}

.advantages-block--bottom {
  margin-top: 15px;
}

.advantages-block li {
  width: 570px;
  min-height: 300px;
  padding: 40px;
  padding-bottom: 0;
  margin: 10px;

  color: #666666;

  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  box-sizing: border-box;
}

.advantages-block svg {
  fill: #00b2ff;
}

.advantages-block h4 {
  margin-top: 14px;
  margin-bottom: 15px;


  font-size: 20px;
  line-height: 34px;
  color: #00b2ff;
}

.advantages-block p {
  min-width: 320px;

  font-family: "PT Mono", sans-serif;
  font-size: 17px;
  line-height: 22px;
}

.advantages-block li:hover,
.advantages-block li:hover h4 {
  color: #ffffff;
  stroke: #ffffff;

  background-color: #00b2ff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .advantages-block {
    margin-bottom: 5px;
  }

  .advantages-block li {
    width: 354px;
    min-height: 306px;
    padding: 20px 0 0 15px;
    margin: 15px 15px 10px;
  }

  .advantages-block--bottom li {
    min-height: 222px;
  }

  .advantages-block h4 {
    margin-top: 4px;
    margin-bottom: 0;
  }

  .advantages-block p {
    margin-top: 10px;
  }

  .advantages-block--bottom {
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantages-block {
    display: block;
  }

  .advantages-block li {
    width: 290px;
    min-height: 210px;
    padding: 20px;
    padding-bottom: 12px;
    margin: 20px 15px;
  }

  .advantages-block h4 {
    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 18px;
  }

  .advantages-block p {
    min-width: 250px;
    margin-top: 10px;

    letter-spacing: 1px;
    line-height: 21px;
  }
}
