.advantages {
  margin: 50px 200px;

  background-image: url("../img/triangle-right.svg");
  background-position: 260px 318px;
  background-size: 298px;
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantages {
    margin: 0;
  }
}
