.button {
  padding: 10px 30px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #00b2ff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.button--modal {
  width: 100%;
}

.button--feedback {
  min-width: 276px;
  margin-right: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .button--feedback {
    min-width: 100%;
    margin-right: 0;
  }
}
