.button {
  padding: 10px 30px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #00b2ff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.button--modal {
  width: 100%;
  padding: 14px 30px;
}

.button--feedback {
  min-width: 200px;
  margin-right: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .button--feedback {
    padding: 13px 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .button--feedback {
    min-width: 100%;
    margin-right: 0;
    padding: 15px 30px;
  }
}
