.callback p,
.callback a {
  padding: 10px;
  margin-right: 50px;

  font-size: 16px;
  font-family: "PT Mono", sans-serif;
}

.callback a {
  color: #ffffff;

  text-decoration: none;
}

.callback__element--call {
  padding: 14px 22px;
  margin-right: 0;

  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;

  border: 2px solid #ffffff;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .callback {
    min-width: 70px;
  }

  .callback p,
  .callback a {
    display: none;
  }

  .callback img {
    width: 24px;
    height: 21px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .callback {
    min-width: 100px;
  }
}
