.checkbox + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -25px;

  width: 14px;
  height: 14px;

  background-image: url("../img/checkbox.svg");

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.checkbox--modal + label::after {
  top: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .checkbox + label::after {
    left: -31px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .checkbox + label::after {
    left: 0;
  }
}
