.checkbox + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -25px;

  width: 16px;
  height: 16px;

  background-image: url("../img/checkbox.svg");

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
}

.checkbox--modal + label::after {
  top: 2px;
}
