.contents-contacts {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  margin-bottom: 33px;
  padding-top: 38px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contents-contacts {
    border-top: 1px solid #626962;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contents-contacts {
    display: block;
  }
}
