.contacts-list {
  opacity: 0.5;
  font-family: "PT Mono", sans-serif;
}

.contacts-list__link {
  color: #1b2d37;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts-list {
    margin-top: 29px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contacts-list {
    padding-right: 90px;
  }

  .contacts-list--close {
    display: none;
  }
}
