@media (min-width: 768px) and (max-width: 1023px) {
  .contents {
    display: block;
    margin-left: 25px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contents {
    position: relative;

    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 15px;

    border-top: 1px solid #626962;
  }

  .contents__button {
    position: absolute;
    content: "";
    top: 45px;
    right: 20px;

    width: 30px;
    height: 20px;

    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    border: none;
  }

  .contents__button--open {
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
  }
}
