.contents-contacts {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  margin-bottom: 48px;
  margin-left: 25px;
  padding-top: 37px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contents-contacts {
    justify-content: space-between;
    margin-left: 0;
    padding-top: 22px;
    margin-bottom: 35px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contents-contacts {
    display: block;
    margin-left: 0;
  }
}
