@media (min-width: 768px) and (max-width: 1023px) {
  .contents {
    display: block;
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contents {
    padding-top: 28px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
}
