.description {
  display: flex;
  justify-content: space-around;

  text-align: left;
  opacity: 0.5;
  font-family: "PT Mono", sans-serif;
}

.description__list {
  padding: 0;
  margin-right: 140px;

  list-style-type: none;
}

.description__list--first {
  margin-right: 40px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .description {
    display: block;
  }

  .description__list {
    margin: 0;
  }

  .description__list--first {
    margin-top: 29px;
  }
}
