.description {
  display: flex;
  justify-content: space-around;

  text-align: left;
}

.description__list {
  padding: 0;

  list-style-type: none;
}

.description__list--first {
  margin-right: 40px;
}
