.feedback-form__input {
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.feedback-form__input::placeholder {
  color: #ffffff;
}

.feedback-form__input--name {
  margin-right: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feedback-form__input--name,
  .feedback-form__input--tel {
    min-width: 45%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .feedback-form__input {
    width: 90%;
    margin-bottom: 20px;
  }

  .feedback-form__input--name {
    margin-right: 0;
  }
}
