.feedback {
  padding: 65px 200px 64px 150px;

  color: #ffffff;

  background-color: #00b2ff;
}

.feedback__element {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feedback img {
  padding-bottom: 50px;
  padding-left: 110px;

  background-image: url("../img/two-triangles.svg");
  background-size: 636px;
  background-repeat: no-repeat;
  background-position: -330px -41px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .feedback {
    margin: 0;
  }

  .feedback img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feedback {
    padding: 90px 190px;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .feedback {
    display: block;

    padding: 30px 15px 40px;
  }
}
