.footer {
  padding-top: 50px;

  color: #1b2d37;

  background-color: #fafafa;
}

.footer__name {
  display: flex;
}

.footer__title {
  margin-bottom: 0;

  text-align: left;
  font-size: 15px;
  color: #1b2d37;
  text-transform: uppercase;
  font-weight: normal;
}

.footer__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-transform: uppercase;
  font-size: 13px;

  border-top: 1px solid #626962;
