.header {
  color: #ffffff;

  background-color: #1b2d37;
  background-image: url("../img/bg.png");
  background-size: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
