.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 25px;

  color: #ffffff;

  background-color: #c4c4c4;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
