.header {
  padding-bottom: 50px;

  color: #ffffff;

  background-color: #1b2d37;
  background-image: url("../img/bg.png");
  background-size: 100%;
}

.header__top {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 25px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: inline-block;
  margin-left: 45px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;

  text-decoration: none;

  transform: rotate(-90deg);
}

@media (min-width: 320px) and (max-width: 1023px) {
  .header__link {
    display: none;
  }
}
