.modal {
  color: #ffffff;
}

.modal__title {
  margin-bottom: 10px;

  font-size: 21px;
  line-height: 51px;
}

.modal__text {
  margin: 0;
  margin-bottom: 50px;

  font-family: "PT Mono", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
