.modal-callback {
  position: fixed;
  content: "";
  top: 10%;
  left: 30%;

  display: block;

  width: 490px;
  padding: 30px 40px;
}

.modal-callback__cross-button {
  display: block;
  margin-left: auto;

  background-color: transparent;
  border: none;
}

.modal-callback__title {
  margin-top: 5px;

  font-size: 28px;
}

.modal-callback__text {
  padding-right: 60px;

  font-size: 16px;
  font-family: "PT Mono", sans-serif;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .modal-callback {
    display: none;
  }
}
