.modal-callback {
  position: fixed;
  content: "";
  top: 19%;
  left: 38%;

  width: 423px;
  padding: 12px 30px;

  color: #ffffff;

  background-color: #00b2ff;
}

.modal-callback--open {
  display: block;
}

.modal-callback__cross-button {
  display: block;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  border: none;
}

.modal-callback h2 {
  margin-top: 5px;

  font-size: 24px;
}

.modal-callback p {
  padding-right: 60px;

  font-size: 16px;
  font-family: "PT Mono", sans-serif;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .modal-callback {
    display: none;
  }
}
