.name {
  margin-left: 16px;

  text-align: left;
}

.name__bold {
  margin-bottom: 5px;
  margin-top: 5px;

  font-size: 25px;
  font-weight: bold;
}

.name__bold--footer {
  color: #203c42;
}

.name__grey {
  margin: 0;

  color: #788891;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .name--header {
    display: none;
  }
}
