.name-social__item {
  display: flex;
}

.name-social__element--service {
  display: none;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .name-social__element--service {
    display: block;

    margin-top: 16px;

    color: #1b2d37;
    opacity: 0.5;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .name-social {
    display: flex;
    justify-content: space-between;

    padding-bottom: 24px;

    border-bottom: 1px solid #626962;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .name-social__item {
    justify-content: center;
  }

  .name-social__element--service {
    margin-top: 22px;

    text-align: center;
  }
}
