.production {
  position: relative;

  display: inline-block;

  margin-right: 30px;
}

.production:last-child {
  margin-right: 0;
}

.production h3 {
  position: absolute;
  top: 32px;
  left: 45px;

  max-width: 170px;

  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}

.production img {
  display: block;

  opacity: 0.2;
}

.production svg {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;

  padding: 29px;
  width: 6px;
  height: 5px;

  background-color: #00b2ff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .production {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .production img {
    width: 715px;
    height: 255px;
  }

  .production h3 {
    top: 28px;
    left: 42px;

    text-align: left;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .production {
    margin: 0;
    margin-bottom: 20px;
  }

  .production img {
    width: 300px;
    height: 300px;
  }
}
