.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  padding-bottom: 70px;
  padding-top: 100px;
}

.promo__img {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .promo__img {
    width: 465px;
    height: 340px;
    padding-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .promo {
    position: relative;
  }

  .promo__img {
    position: absolute;

    width: 301px;
    height: 220px;
    top: 4px;
    right: -41px;
  }
}
