.promo-text {
  padding-left: 40px;

  color: #ffffff;
}

.promo-text__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
}

.promo-text__desc {
  position: relative;

  margin: 0;
  padding-left: 50px;

  font-size: 20px;
  font-family: "PT Mono", sans-serif;
  text-align: left;
}

.promo-text__desc::before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;

  width: 45px;
  height: 2px;

  background-image: url("../img/line.svg");
}

.promo-text__link {
  display: inline-block;
  padding: 16px 24px;
  margin-top: 37px;
  margin-left: 50px;

  text-transform: uppercase;
  font-size: 16px;

  background-color: #00b2ff;
  border-radius: 5px;
}

.promo-text__link--mobile {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .promo-text__title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .promo-text__link {
    padding: 14px;
  }

  .promo-text__desc::before {
    width: 33px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .promo-text {
    margin-top: 100px;
    padding-left: 20px;
  }

  .promo-text__title {
    position: relative;
    z-index: 1;

    margin-right: 30%;

    font-size: 40px;
    line-height: 47px;
  }

  .promo-text__desc {
    min-width: 0;
  }

  .promo-text__link {
    margin-left: 0;
    padding-left: 40px;
  }

  .promo-text__link--desktop {
    display: none;
  }

  .promo-text__link--mobile {
    display: inline-block;
    padding: 16px 11px;
  }

  .promo-text__desc::before {
    width: 33px;
  }
}
