.promo {
  display: flex;
  justify-content: space-between;

  overflow: hidden;
  padding-top: 154px;
}

.promo img {
  padding-left: 20px;
  padding-right: 20px;

  background-image: url("../img/two-triangles.svg");
  background-size: 977px 931px;
  background-position: -545px -208px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .promo img {
    width: 430px;
    height: 305px;
    margin-left: 66px;
    padding-bottom: 25px;

    background-position: -393px -160px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .promo {
    position: relative;
  }

  .promo img {
    position: absolute;

    width: 301px;
    height: 220px;
    top: -26px;
    right: -41px;

    background-size: 450px 450px;
    background-position: -84px -84px;
  }
}
