.questions {
  margin-left: 60px;
}

.questions h2 {
  margin-bottom: 13px;

  font-size: 32px;
  line-height: 51px;
  font-weight: normal;
}

.questions p {
  margin: 0;
  margin-bottom: 50px;

  font-family: "PT Mono", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .questions {
    min-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .questions {
    min-width: 290px;
  }

  .questions h2 {
    font-size: 28px;
  }
}
