.rights {
  margin-top: 69px;
  margin-bottom: 14px;

  opacity: 0.5;
  font-family: "PT Mono", sans-serif;
}

.rights__link {
  color: #1b2d37;
  text-decoration: none;
}

.rights__credits {
  display: flex;
}
