.rights {
  position: relative;
  margin-top: 69px;
  margin-bottom: 14px;
}

.rights::before {
  content: "";
  position: absolute;
  top: 14px;

  border-top: 1px solid #626962;
}

.rights__link {
  color: #1b2d37;
  text-decoration: none;
}
