.services-list {
  display: flex;
  justify-content: center;

  padding-left: 0;
  margin: 0;

  list-style-type: none;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .services-list {
    display: block;

    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services-list {
    padding: 10px;
  }
}
