.services {
  padding: 63px 0 128px;

  background-color: #1b2d37;
}

.services h2 {
  margin-bottom: 50px;
  margin-left: 125px;

  font-size: 31px;
  line-height: 51px;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    padding-top: 20px;
    padding-bottom: 33px;
  }

  .services h2 {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 45px;

    text-align: left;
    font-size: 28px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services {
    padding: 0;
  }

  .services h2 {
    margin: 5px;

    font-size: 26px;
    text-align: left;
  }
}
