.social {
  display: flex;

  margin-top: 54px;
}

.social__element {
  margin-right: 15px;
}

.social__element:last-child {
  margin-right: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .social {
    align-items: center;
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .social {
    justify-content: center;

    margin-top: 32px;
  }
}
