.container {
  width: 1420px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 1023px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 767px;
  }
}
